@{
    ViewData["Title"] = "Irodef";
}
@model Item
<link href="~/css/SProductP.css?v=1" rel="stylesheet" />
<script type="text/javascript">
    function increaseCount(a, b) {
        var input = b.previousElementSibling;
        var value = parseInt(input.value, 10);
        value = isNaN(value) ? 0 : value;
        value++;
        input.value = value;
    }

    function decreaseCount(a, b) {
        var input = b.nextElementSibling;
        var value = parseInt(input.value, 10);
        if (value > 1) {
            value = isNaN(value) ? 0 : value;
            value--;
            input.value = value;
        }
    }

    window.onload = function (){
        const button = document.querySelector(".addtocart");
        const done = document.querySelector(".done");
        console.log(button);
        let added = false;
        button.addEventListener('click', () => {
            if (added) {
                done.style.transform = "transform 0.3s ease ";
                done.style.transform = "translate(-110%) skew(-40deg)";
                added = false;
            }
            else {
                done.style.transform = "translate(0px)";
                added = true;
            }

        });
    };
        

</script>

<div class="container my-5" >
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis" asp-controller="Home" asp-action="Index">
                    <img src="https://cdn-icons-png.flaticon.com/512/60/60817.png" class="bi" width="18" height="18"></img>
                    <span class="visually-hidden">Home</span>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" asp-controller="Products" asp-action="Index">Products</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Irodef
            </li>
        </ol>
    </nav>
</div>


<div class="main-card">
    <img src="@Model.ImageUrl" width="400px" height="400px" />
    <form method="post" asp-controller="Basket" asp-action="create" asp-route-ItemId="@Model.Id">
    <div class="side-card">
         <p class="title">@Model.Name</p>
        <p class="price">$@Model.Price</p>
         <p class="description">@Model.Description, Made in @Model.MadeInCountry</p>
        <a asp-area="" asp-controller="Products" asp-action="FilterProduct" asp-route-Name="@Model.Category.Name">@Model.Category.Name</a>
     
        <div class="extras">
           
             <div class="quantity">
                 <p>Quantity:</p>  
                 
                <div class="counter">
                  <span class="down" onClick='decreaseCount(event, this)'>-</span>
                        <input type="text" name="Quntity" value="1">
                  <span class="up" onClick='increaseCount(event, this)'>+</span>
                </div>
             </div>
         </div>
         <div class="cartdiv">
            <button class="addtocart">
                <div class="pretext">
                    <i class="fas fa-cart-plus"></i> ADD TO CART
                </div>

                <div class="pretext done">
                    <div class="posttext"><i class="fas fa-check"></i> ADDED</div>
                </div>

            </button>
         </div>
    </div>
    </form>
    <div class="suggested">
        <p style="margin-left: 53px; font-size: 30px;color: #005500;">Suggested Items</p>
        <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center" style="padding-top: 7px !important;">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <img src="https://alam.online/iq/pub/media/catalog/product/cache/95cb36d3254e0a20b33361b06e7c0ce9/8/0/8016355798549.png" alt="twbs" width="80" height="80" class="rounded-circle flex-shrink-0">
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                            <h6 class="mb-0">Calm Baby</h6>
                            <p class="mb-0 opacity-75">Calm Baby 50ml Oral Drops (Tritium Pharma)</p>
                        </div>
                        <small class="opacity-50 text-nowrap">now</small>
                    </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <img src="https://alam.online/iq/pub/media/catalog/product/cache/a237138a07ed0dd2cc8a6fa440635ea6/8/0/8011116987538.png" alt="twbs" width="80" height="80" class="rounded-circle flex-shrink-0">
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                            <h6 class="mb-0">Kids Power 360</h6>
                            <p class="mb-0 opacity-75">Kids Power 360 100ml Syrup (Tritium Pharma)</p>
                        </div>
                        <small class="opacity-50 text-nowrap">3d</small>
                    </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <img src="https://alam.online/iq/pub/media/catalog/product/cache/95cb36d3254e0a20b33361b06e7c0ce9/8/0/8013597783517.png" alt="twbs" width="80" height="80" class="rounded-circle flex-shrink-0">
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                            <h6 class="mb-0">Didal 30ml</h6>
                            <p class="mb-0 opacity-75">Didal 30ml Oral Drops (Tritium Pharma)</p>
                        </div>
                        <small class="opacity-50 text-nowrap">1w</small>
                    </div>
                </a>
            </div>
        </div>

    </div>

</div>