@{
    ViewData["Title"] = "Products";
}

<link href="~/css/SearchProduct.css" rel="stylesheet"/>

<div class="container my-5" style="margin-bottom: 0px !important;margin-top: 20px !important;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis" asp-controller="Home" asp-action="Index">
                    <img src="https://cdn-icons-png.flaticon.com/512/60/60817.png" class="bi" width="18" height="18"></img>
                    <span class="visually-hidden">Home</span>
                </a>

            </li>
            <li class="breadcrumb-item">

                <a class="link-body-emphasis fw-semibold text-decoration-none" asp-controller="Products" asp-action="index">Products</a>
            </li>
         
        </ol>
    </nav>
</div>

<div class="resultsofsearch">
    <div class="FilterByCat">
        <p>FILTER BY CATEGORY</p>
        <div class="pull-right" style="margin-right:25px">
            @foreach (Category c in ViewBag.Categories)
            {
                    <a asp-controller="Products"  asp-action="FilterProduct" asp-route-Name="@c.Name">
                        <button class="btn btn-small btn-primary" onClick="CatName">
                        @c.Name
                </button>
                    </a>
            }
            <div class="priceSlider">
                <form>
                    <label for="Ps">Price: <span id="priceLabel">All</span></label><br />
                    <input type="range" id="Ps" class="RangeP" name="PriceRange" min="5" max="100" value="5" step="5"/>
                </form>
            </div>
        </div>

        <div class="ItemsOfResult">
            @foreach (Item I in ViewBag.Items)
            {
                    <div class="card-sl" style="width:250px; margin-right:15px; margin-left:5px;">
                        <a class="card-move-style" asp-area="" asp-controller="Products" asp-action="SingularProduct" asp-route-Id="@I.Id">
                            <div>
                                <img src="@I.ImageUrl" width="250px" height="200px" />
                            </div>


                            <div class="card-heading">
                            @I.Name
                            </div>
                            <div class="card-text">
                            @I.Description
                            </div>
                            <div class="card-price">
                                $@I.Price
                            </div>
                            <a class="card-button"> Purchase</a>
                        </a>
                    </div>
            }
        </div>
    </div>
    </div>

    <script>



    $(function () {
        var CatePress;
        var priceLabels = {
            5: 'All',
            10: 'Under 10$',
            15: 'Under 15$',
            20: 'Under 20$',
            25: 'Under 25$',
            30: 'Under 30$',
            35: 'Under 35$',
            40: 'Under 40$',
            45: 'Under 45$',
            50: 'Under 50$',
            55: 'Under 55$',
            60: 'Under 60$',
            65: 'Under 65$',
            70: 'Under 70$',
            75: 'Under 75$',
            80: 'Under 80$',
            85: 'Under 85$',
            90: 'Under 90$',
            95: 'Under 95$',
            100: 'Under 100$',
        };




        $('#Ps').on('input', function () {
            var priceRange = $(this).val();
            var label = priceLabels[priceRange] || priceRange + '$';
            $('#priceLabel').text(label);

            $.ajax({
                url: '@Url.Action("GetItemsByPriceRange", "Products")',
                data: {
                    Name: '@ViewBag.Name',
                    priceRange: priceRange
                },
                type: 'GET',
                success: function (result) {
                    var itemsToRender = $(result).find('.card-sl');
                    $('.ItemsOfResult').html(itemsToRender);
                }
            });
        });
    });




    </script>
